div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#box {
  float: left;
  width: 50px;
  height: 50px;
  background: #f00;
  position: absolute;
  transition: .5s;
  top: 50%;
  left: 50%;
  margin: 0;
  /*transform: rotate(180deg);*/
  /*margin: 0 0 0 -250px;*/
}

#box:hover {
  /*transform: rotate(360deg);*/
  /*transform: translate(-50px, 0px);*/
  /*margin: 0 0 0 -250px;*/

}

#blue {
  width: 50px;
  height: 10px;
  background: #00f;
}

.btns {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 270px 0 0 -250px;
}

.box {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:stretch;
  border: 2px solid #f00;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
}

.row {
  display: flex;
  justify-content:space-around;
  align-items:stretch;
}
.square {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  /*float: left;*/
  /*display: inline-block;*/
}
