/*normallize*/
body, ul, ol, li, figure {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/*common*/
.msbox {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:after, .cf:before {
  content: "";
  display: block;
  clear: both;
}
